
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    function isSignedIn() {
      return request.auth != null;
    }
    
    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }
    
    function isAdmin() {
      return isSignedIn() && (
        request.auth.token.admin == true || 
        request.auth.uid in [
          '2C81RVoXZWZuSWXEEueehqbHkMu1', 
          'v521MWW9rmPYchVBc91DheeRU5j2',
          'GoNLAq0YYdQw70fDS5L1XbBqtow1',
          '4qTAOIovwdWYGCnqYPiPCJqNcdP2',
          'jBbMqpl6zKeZ9skDW3ux0iBMJRB2'
        ]
      );
    }

    function isValidImage() {
      return request.resource.size < 10 * 1024 * 1024
          && (request.resource.contentType.matches('image/.*'));
    }

    match /users/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if isOwner(userId) && isValidImage();
    }

    match /products/{userId}/{productId}/{fileName} {
      allow read: if true;
      allow write: if isOwner(userId) && isValidImage();
    }

    match /deliveries/{deliveryId}/{fileName} {
      allow read: if isSignedIn();
      allow write: if isSignedIn() && isValidImage();
    }
  }
}
